// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	max-width: 90%;
	font-size: 62.5%;
	margin: 0 auto;
}


// varibles
@weirdGray: #d3d3d3;
@darkerWierdGray: #696969;

// mixins
.background1(){
	background:@darkerWierdGray;
	color: @weirdGray;
}





// header styles
header{
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	margin-top: 1%;
	background: @weirdGray;
	
	.links{
		display: flex;
		justify-content: space-evenly;
		width: 70%;

		a{
			text-decoration: none;
			color: #DC143C;
			
		}//closes a
		a:hover{
			color: @darkerWierdGray;
		}

	}//closes links
}//closes header

.hero{
	display: flex;
	justify-content: space-between;
	align-content: center;
	img{
		width: 40%;

	}
	div{
		width: 60%;
		font-size: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@media screen and (max-width: 500px) {
		flex-direction: column;
		img{
			width: 100%;
		}
		div{
			width: 100%;
		}
	}
}

.skills{
	max-width:100%;
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	
	
	h2{
		font-size: 3rem;
		margin-top: 2%;
		background: #DC143C;
		color: white;
		width: 100%;
		text-align: center;
		
	}
	.cards{
		margin-top: 3%;
		display: flex;
		justify-content: center;
		width: 100%;
		background: #d3d3d3;
		
		.card{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width:30%;
			text-align: center;
			

			.fa-html5{
				color:blue;
			}
			.fa-css3-alt{
				color:red;
			}
			.fa-js{
				color: darkgray;
			}
		}//closes card
		@media screen and (max-width: 500px){
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			.card{
				width: 60%;
				border: 1px solid @darkerWierdGray;
				background:@darkerWierdGray;
				margin-bottom: 1%;
			}
		}

	}

}
.work{
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	text-align: center;
	font-size: 2rem;
	max-width: 100%;
	div{
		margin-top: 2%;
		display:flex;
		justify-content:space-evenly; 
		align-items: center;
		width:100%;
		
		text-align: center;
		a{
			
			display: flex;
			justify-content: space-evenly;
			img{
				width: 40%;
			}
		}
		@media screen and (max-width: 500px){
			flex-direction: column;
		}
		
	}
}		
.contact{
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 2.5rem;
	background: #696969;
	height: 30vh;
}








